<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grafixartist.androidn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".MainActivity"
            android:resizeableActivity="true">
            <layout
                android:defaultHeight="500dp"
                android:defaultWidth="500dp"
                android:gravity="bottom|end"
                android:minHeight="220dp"
                android:minWidth="220dp" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Launches Activity as a new Task.
            This Activity can now open as a separate Multi-Window,
            alongside MainActivity -->
        <activity
            android:name=".DetailActivity"
            android:taskAffinity=""></activity>
    </application>

</manifest>